<!DOCTYPE html>

<html lang='en' ng-app="loginApp">
<head>
    <meta charset="UTF-8" /> 
    <title>
        可伶可俐（韩国）食品株式会社有限公司
    </title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

    <div id="wrapper" ng-controller="loginController">

        <form name="login-form" class="login-form" action="" method="post">

            <div class="header">
                <h1>登录</h1>
                <span>可伶可俐（韩国）食品株式会社有限公司.</span>
            </div>

            <div class="content">
                <input name="username" type="text" class="input username" ng-model="username" placeholder="Username" />
                <div class="user-icon"></div>
                <input name="password" type="password" class="input password" ng-model="password" placeholder="Password" />
                <div class="pass-icon"></div>
            </div>

            <div class="footer">
                <input type="submit" name="submit" value="登录" class="button" ng-click="Login()" />
                <!--<input type="submit" name="submit" value="Register" class="register"/>-->
            </div>

        </form>

    </div>
<div class="gradient"></div>

    <script src="../../bower_components/angular/angular.min.js"></script>
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
       
        angular.module('loginApp',[])
            .controller('loginController', [
                    '$scope', '$http', function ($scope, $http) {
                        $scope.Login=function() {
                            $http.post("/authenticate", {
                                username: $scope.username,
                                password: $scope.password
                            }).success(function (data) {
                                 
                                        var r = getParameterByName("redirect");
                                        if (r === "") {
                                            r = "/Index";
                                        }
                                        window.location.href = r;
                                
                                }
                            ).error(function(data) {
                                alert(data.ResponseStatus.ErrorCode);
                            });
                        }
                    }
                ]
            );

    </script>
</body>

</html>
